a {
    text-decoration: none;
}

body {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* outline: solid red 1px; */
}

.head {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    /* background-color: aquamarine; */

}

.logoHeaderimg {
    margin-right: 93px;
    width: 145px;
}


.ulNav {
    gap: 50px;
    margin-right: 344px;
}

.ulNav:has(.liNav2:hover) .liNav1 {
    color: #212121;
}

.ulNav:has(.liNav3:hover) .liNav1 {
    color: #212121;
}

.ulContacts {
    gap: 50px;
}

.liNav {
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    color: #212121;
}

.liNavSelected {
    color: #2196F3;
}

.liNav:hover {
    color: #2196F3;
}

.links {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
}

.links:hover {
    color: #2196F3;
}

.backOfSolutions {
    position: relative;
    background-color: #2F303A;
    height: 600px;
}

.forRelativemain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 44px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
    width: 700px;
}

.takeOrder {
    color: #fff;
    background-color: #2196F3;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.captcher {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    margin: 0;
}

.benefitsList {
    /* margin-top: 94px; */
    gap: 30px;
    margin: 94px auto;
}

.description {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    color: #757575;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.ourJob {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #212121;
    letter-spacing: 1px;
}

.pictures {
    width: 370px;
}

.hotoList {
    gap: 30px;
    margin-bottom: 94px;
}

.sectionTeam {
    background-color: #F5F4FA;
}

.ourTeanCapcher {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    margin-bottom: 50px;
    padding-top: 94px;
    text-align: center;
}

.persons {
    width: 270px;
}

.employeeInfo {
    gap: 30px;
    padding-bottom: 94px;
}

.personInfo {
    background-color: #fff;
    height: 368px;
    text-align: center;
}

.name {
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    color: #212121;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.position {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.logoFooterImg {
    margin-top: 60px;
    width: 145px;
}

.secFoot {
    background-color: #2F303A;
    height: 252px;
}

.listInfoFooter {
    margin-top: 20px;
    flex-direction: column;
    gap: 9px;
}

.linksfooter {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    opacity: 0.6;
}

.linksfooterFirst {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
}

.linksfooter:hover {
    color: #2196F3;
    opacity: 1;
}

.linksfooterFirst:hover {
    color: #2196F3;
    opacity: 1;
}


/* .liWithSvgs {
    text-align: center;
} */

.benefitsSvgs {
    width: 270px;
    height: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.cvgPaths {
    /* text-align: center; */
    width: 7px;
}
/* regular */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* medium */

/*   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* bold */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */


/* black */
/* 

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
     */














/*                                            portfolio                           */



.sort {
    gap: 8px;
    /* margin: 0 auto; */
    /* text-align: center; */
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 34px;
}

.optionsView {
    height: 38px;
    color: #F5F4FA;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #212121;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    /* box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253); */
}

.optionsView:hover {
    background-color: #2196F3;
    color: #fff;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253);
}

.optionViewSelected {
    height: 38px;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253);
}

.sort:has(.optionsView:hover) .optionViewSelected {
    background-color: #F5F4FA;
    box-shadow: 0 0 0 0;
    color: #212121;
}

.picturesProjects {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.pictureProjectsImg {
    width: 370px;
}

.liPictureProjects {
    outline: #EEEEEE solid 1px;
    text-align: left;
    height: 404px;
}

.projectsP {
    margin-top: 20px;
    margin-left: 24px;
    font-size: 18px;
    letter-spacing: 0.6px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 36px;
    margin-bottom: 4px;
}

.types {
    font-size: 16px;
    margin-left: 24px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #757575;
    /* padding-bottom: 300px; */
    /* padding-bottom: 20px; */
}

/* regular */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100; */

/* medium */

/*   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* bold */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100; */


/* black */
/* 

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
     */