a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow: hidden;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* outline: solid red 1px; */
    /* z-index: 3; */
}

.head {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    /* background-color: aquamarine; */

}

.logoHeaderimg {
    margin-right: 93px;
    width: 145px;
}


.ulNav {
    gap: 50px;
    margin-right: 344px;
}

.ulNav:has(.liNav2:hover) .liNav1 {
    color: #212121;
}

.ulNav:has(.liNav3:hover) .liNav1 {
    color: #212121;
}

.ulContacts {
    gap: 50px;
}

.liNav {
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    color: #212121;
}

.liNavSelected {
    color: #2196F3;
}

.liNav:hover {
    color: #2196F3;
}

.links {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    height: 16px;
    align-items: center;
    gap: 10px;
}

.links:hover .svgsHeader {
    color: #2196F3;
}

.links:hover {
    color: #2196F3;
}

.backOfSolutions {
    position: relative;
    background-image: url(photos/studio/effectiveBackground/teamProject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    /* background-color: #212121; */
}

.blackBackground {
    background-color: #2f303a;
    opacity: .4;
    /* z-index: ; */
    height: 100%;
}

.forRelativemain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 44px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
    width: 700px;
    /* z-index:; */
}

.takeOrder {
    color: #fff;
    background-color: #2196F3;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.captcher {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    margin: 0;
}

.benefitsList {
    /* margin-top: 94px; */
    gap: 30px;
    margin: 94px auto;
}

.description {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    color: #757575;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.ourJob {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #212121;
    letter-spacing: 1px;
}

.pictures {
    width: 370px;
}

.hotoList {
    gap: 30px;
    margin-bottom: 94px;
}

.sectionTeam {
    background-color: #F5F4FA;
}

.ourTeanCapcher {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    margin-bottom: 50px;
    padding-top: 94px;
    text-align: center;
}

.persons {
    width: 270px;
}

.employeeInfo {
    gap: 30px;
    padding-bottom: 94px;
}

.personInfo {
    background-color: #fff;
    height: fit-content;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.336) 0 2px 2px;
    outline: 0px solid rgba(0, 0, 0, 0.158);
}

.name {
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    color: #212121;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.position {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.logoFooterImg {
    margin-top: 60px;
    width: 145px;
}

.secFoot {
    background-color: #2F303A;
    height: 252px;
}

.listInfoFooter {
    margin-top: 20px;
    flex-direction: column;
    gap: 9px;
}

.linksfooter {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    opacity: 0.6;
}

.linksfooterFirst {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
}

.linksfooter:hover {
    color: #2196F3;
    opacity: 1;
}

.linksfooterFirst:hover {
    color: #2196F3;
    opacity: 1;
}


/* .liWithSvgs {
    text-align: center;
} */

.benefitsSvgs {
    width: 270px;
    height: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.cvgPaths {
    /* text-align: center; */
    width: 7px;
}

/* regular */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* medium */

/*   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* bold */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */


/* black */
/* 

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
     */














/*                                            portfolio                           */



.sort {
    gap: 8px;
    /* margin: 0 auto; */
    /* text-align: center; */
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 34px;
}

.optionsView {
    height: 38px;
    color: #F5F4FA;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #212121;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    /* box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253); */
}

.optionsView:hover {
    background-color: #2196F3;
    color: #fff;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253);
}

.optionViewSelected {
    height: 38px;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.253);
}

.sort:has(.optionsView:hover) .optionViewSelected {
    background-color: #F5F4FA;
    box-shadow: 0 0 0 0;
    color: #212121;
}

.picturesProjects {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.pictureProjectsImg {
    width: 370px;
}

.liPictureProjects {
    outline: #EEEEEE solid 1px;
    text-align: left;
    height: 404px;
}

.liPictureProjects:hover {
    box-shadow: rgba(0, 0, 0, 0.219) 2px 3px 5px;
    cursor: pointer;
}

.projectsP {
    margin-top: 20px;
    margin-left: 24px;
    font-size: 18px;
    letter-spacing: 0.6px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 36px;
    margin-bottom: 4px;
}

.types {
    font-size: 16px;
    margin-left: 24px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #757575;
    /* padding-bottom: 300px; */
    /* padding-bottom: 20px; */
}

.regularClientsCaptcher {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    color: #212121;
}

.svgsClients {
    width: 170px;
    height: 92px;
    outline: solid 1px #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    /* margin-right: 20px; */
    /* position: relative; */
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.svgsClients path {
    fill: #2196F3;
}

.regularClUl {
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
}

.svgsClients {
    color: #AFB1B8;
}

.svgsClients:hover {
    color: #2196F3;
}

.svgsHeader {
    color: #757575;
}

.svgsHeader:hover {
    color: #2196F3;
}

.mailHeader {
    width: 16px;
    height: 12px;
}

.telHeader {
    width: 10px;
    height: 16px;
}

.hotoList li article {
    position: relative;
}

.forDescription {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #2f303a;
    opacity: .8;
    z-index: 3;
    top: 224px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3%;
}

.descriptionText {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    z-index: 5;
    position: absolute;
    top: 251px;
    left: 50%;
    transform: translateX(-50%);
}

.svgsContacts {
    width: 44px;
    height: 44px;
}

.ulsvgsContacts {
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 30px;
}

.svgsContacts {
    /* background-color: red; */
    color: #AFB1B8;
    border-radius: 50%;
}

.svgsContacts:hover {
    background-color: #2196F3;
    color: #fff;
}

.svgsContacts use {
    x: 12;
    y: 12;

}

.subscribe {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    margin: 0;
    margin-top: 67px;
}

.sec2Foot {
    margin-left: 70px;
}

.flexFoot {
    display: flex;
}

.ulsvgsContactsFoot {
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 30px;
}

.svgsContactsFoot {
    width: 44px;
    height: 44px;
    /* color: #ffffff; */
    color: #ffffff;
    border-radius: 50%;
    background-color: #ffffff2a;
    /* opacity: .1; */
}

.svgsContactsFoot use {
    x: 12;
    y: 12;

}

.svgsContactsFoot:hover {
    background-color: #2196F3;
    opacity: 1;
    color: #fff;
}

.blur {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: 200px; */
    background-color: #000000;
    z-index: 10;
    opacity: .2;
}

.modalWindow {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /* box-shadow: 0, 1, 3, 0, rgb(0, 0, 0, .12);
    box-shadow: 0, 1, 1, 0, rgb(0, 0, 0, .14); */
    box-shadow: 0 1px 1px rgb(0, 0, 0, .14);
    box-shadow: 0 2px 1px rgb(0, 0, 0, .2);
    z-index: 11;
}

.shadow2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
    z-index: 2;
}

.shadow3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0, 0, 0, .14);
    z-index: 2;
}

.svgModal {
    width: 30px;
    height: 30px;
    color: black;
}

.modalMain {
    position: absolute;
    z-index: 3;
}

.closeBtn {
    background-color: #00000000;
    border: none;
    cursor: pointer;
    outline: solid rgb(0, 0, 0, .1) 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 8px;
}

/* .closeBtn:hover .svgModal {
    color: #2196F3;
} */

.dropInfo {
    color: #212121;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: 3%;
    padding-bottom: 12px;
}

label {
    color: #757575;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 40px;
}

.formInfo {
    width: 448px;
    /* outline: solid 1px red; */
    margin-left: 40px;
}

.inpsModal {
    height: 40px;
    width: 448px;
    margin-top: 4px;
    border: none;
    margin-bottom: 10px;
}

.stayInfo {
    color: #212121;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-top: 53px;
    text-align: center;
}

.closeModal {
    background-color: #96484800;
    border: none;
    border-radius: 50%;
    outline: solid rgba(0, 0, 0, 0.1) 1px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: 6px;
}

.closeModal:hover .svgModal {
    color: #2196F3;
}

.inpsModal {
    width: 448px;
    height: 40px;
    outline: solid 1px #21212134;
    border-radius: 4px;
}

.formModal {
    text-align: left;
    width: 448px;
    margin-top: 12px;
    margin: 0 auto;
    gap: 10px;
}

.labelsModal {
    color: #757575;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
}

.stayComment {
    /* min-height: 100px; */
    width: 430px;
    height: 106px;
    /* height: fit-content; */
    /* overflow: scroll; */
    border-radius: 4px;
    outline: solid 1px #21212134;
    border: none;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
}

.stayComment::placeholder {
    color: #757575;
    opacity: .5;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.newCheckbox {
    width: 15px;
    height: 15px;
    outline: solid 2px #212121;
    border-radius: 2px;
    cursor: pointer;
}

.checkLabel {
    margin: 0;
}

.flexModal {
    display: flex;
    align-items: center;
    width: 425px;
    margin: 0 auto;
    margin-top: 20px;
}

.checkboxModal {
    margin: 0;
    margin-right: 8.5px;
    /* margin-top: ; */
    /* margin-left: 52px; */
}

.conditions {
    color: #2196F3;
    text-decoration: underline solid;
}

.submitBtn {
    width: 200px;
    height: 50px;
    /* margin: 0 auto; */
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, .15);
    cursor: pointer;
    /* text-align: center; */
}

/*  */

/*  */

/* .justDiv {
    width: 200px;
    height: 200px;
    background-color: #000000;
} */

/* regular */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100; */

/* medium */

/*   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* bold */

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100; */


/* black */
/* 

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
     */